<app-adminnav></app-adminnav>
<router-outlet></router-outlet>
<body>
  

  <img  src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTVwMnRzaHR6dmpoeWg1dm03MXJwaHgxbXhlMGQ0YjF4NXR3M2E5cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/p0G1E394o8sNO/giphy.gif"  height="492" width="1263"  frameBorder="0" class="video-background" allowFullScreen>


<div class="overlay">
  <h1 style="color: aliceblue;">Welcome To Admin Page</h1>
  <p>Financing solutions to enable Farming</p>
</div>



</body>
  <br><br><br>
  <h1 style="text-align: center;"> Farm Financer Performance Metrics</h1>

  <div class="counter-container">
      <div class="counter-box">
          <h2 class="counter" data-target="23">0</h2>
          <p>Loans Applied</p>
      </div>
      <div class="counter-box">
          <h2 class="counter" data-target="12">0</h2>
          <p>Users</p>
      </div>
      <div class="counter-box">
          <h2 class="counter" data-target="20">0</h2>
          <p>User Feedbacks</p>
      </div>
      <div class="counter-box">
          <h2 class="counter" data-target="18">0</h2>
          <p>Loans Available</p>
      </div>
  </div>


 
<div style="margin-top: 40px;">
  <section>
    <app-bar-chart></app-bar-chart>
  </section>
    
</div>

  <div class="content">
    <h1>🌿 Farm Financer</h1>
    <p>
      <strong>Farm Financer</strong> is a modern digital platform crafted to empower farmers and agricultural businesses
      with reliable and flexible financial solutions. Whether you're cultivating crops, investing in farm equipment, or expanding your land,
      Farm Financer offers a variety of loan options tailored to your needs.
    </p>
    <p>
      Each loan package includes transparent interest rates and clearly defined terms and conditions, helping you make confident,
      informed decisions. With a seamless and user-friendly application process, Farm Financer ensures that financial support is
      just a few clicks away—so you can focus on growing your agricultural venture.
    </p>
  </div>
  
  

  <footer class="footer">
    <p class="footer-heart">
      Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
    <img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
  </g-emoji> by <a [routerLink]="['/devTeam']">Dev Squad</a>
    </p>
  
  
    <p>&copy; 2025 Blog Community. All rights reserved.</p>
    <p><a [routerLink]="['/adminlog']">Check Logs</a></p>
  </footer>