<app-usernav></app-usernav>
<router-outlet></router-outlet>
<body id="home">
  

  <img  src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMndiZnd2cWV5NnZ1MGQ1bDQwZXQyY3ZneTE1cWdlMTV3bDBxcGVkZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pYmAquAAd5YKLvDcxx/giphy.gif"  height="492" width="1263"  frameBorder="0" class="video-background" allowFullScreen>


<div class="overlay">
  <h1>Investing in the Future of Agriculture</h1>
  <p>Financing solutions to enable smart agriculture</p>
</div>



</body>
<div id="about" class="section">
  <div class="text-content">
    <h4>Who are we?</h4>
    <h1>We are the bridge between fields and finance</h1>
    <p>
      Empowering farmers with smart, accessible funding to grow their dreams from soil to success.
    </p>
   
  </div>
  <div class="image-content">
<img src="https://img.freepik.com/free-photo/close-up-soil-sprout_23-2148905251.jpg?semt=ais_hybrid&w=740" alt="Hands holding plant in soil">
  </div>
</div>

<section id="testimonial" class="testimonial-section">
  <h2>What Our Growers Have to Say!</h2>
  <div class="card-container">
    <div class="card">
      <img src="https://media.istockphoto.com/id/1316735334/photo/young-indian-farmer-with-agronomist-at-banana-field.jpg?s=612x612&w=0&k=20&c=SjD-Bi-oO9LsYUSB69Jphal7nB-DySGiwLb8aDnw8UI=" alt="first img">
      <div class="card-content">
        <h3>Vinayak Patil</h3>
        <p>Sangli, Maharashtra</p>
        <p>Embracing modern techniques has completely transformed my farm. Thriving crops, better yields, and a brighter future!</p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.istockphoto.com/id/990892396/photo/indian-farmer-holding-crop-plant-in-his-wheat-field.jpg?s=612x612&w=0&k=20&c=je5zLlBPEeFplzaSAg_hLryRy2r9AiajSBV_2dd3u_A=" alt="2nd">
      <div class="card-content">
        <h3>Dhanraj - Geeta Estate</h3>
        <p>Hassan, Karnataka</p>
        <p>With the right guidance and innovative practices, my farm is flourishing like never before. A truly rewarding experience!</p>
      </div>
    </div>
    <div class="card">
      <img src="https://img.freepik.com/premium-photo/indian-farmer-discussing-with-agronomist-farm-collecting-some-information_75648-7011.jpg" alt="Dharmraj Patil">
      <div class="card-content">
        <h3>Dharmraj Patil</h3>
        <p>Satara, Maharashtra</p>
        <p>From traditional farming to smart solutions, this journey has been life-changing. Proud to be part of this agricultural revolution!</p>
      </div>
    </div>
  </div>
</section>
<br>

<footer class="footer">
  <p class="footer-heart">
    Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
  <img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
</g-emoji> by <a [routerLink]="['/devTeam']">Dev Squad</a>
  </p>


  <p>&copy; 2025 Blog Community. All rights reserved.</p>
  <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
  <div class="social-media">
    <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
  </div>
</footer>